{
  "env": {
    "node": true,
    "es6": true,
  },

  "globals": {
    "sails": true,
    "_": true,
    "ActivationService": true,
    "AnnouncementService": true,
    "BookingTypeService": true,
    "BookingService": true,
    "AdminService": true,
    "BuildingService": true,
    "ChargeService": true,
    "ClientAnalyticsService": true,
    "ClientService": true,
    "CustomerStripeService": true,
    "DietService": true,
    "DownloadService": true,
    "EmailService": true,
    "GiftCardService": true,
    "InvoiceService": true,
    "jwToken": true,
    "ManagerService": true,
    "MeasurementsService": true,
    "OrderService": true,
    "PasswordService": true,
    "ProductService": true,
    "PromoCodeService": true,
    "PropertyManagerService": true,
    "NotificationService": true,
    "MaintainanceService": true,
    "SalesService": true,
    "SessionService": true,
    "ShopItemService": true,
    "ScheduleService": true,
    "SkuService": true,
    "SkuStripeService": true,
    "TaskService": true,
    "TrainerAnalyticsService": true,
    "TrainerService": true,
    "TrainingService": true,
    "TrainingTypeService": true,
    "UploadService": true,
    "UserService": true,
    "Utilities": true,
    "ValidService": true,
    "Administrator": true,
    "Announcement": true,
    "BookingType": true,
    "Building": true,
    "Client": true,
    "Diet": true,
    "GiftCard": true,
    "Invoice": true,
    "Manager": true,
    "Measurements": true,
    "Notification": true,
    "Maintainance": true,
    "Order": true,
    "Product": true,
    "PromoCode": true,
    "PropertyManager": true,
    "Schedule": true,
    "ServiceTrainer": true,
    "ShopItem": true,
    "Sku": true,
    "Task": true,
    "Trainer": true,
    "Training": true,
    "TrainingType": true,
    "User": true,
    "async": true
  },

  "rules": {
    "camelcase":                    [1, {"properties": "always"}],
    "comma-style":                  [2, "last"],
    "eqeqeq":                       [2, "always"],
    "eol-last":                     [1],
    "handle-callback-err":          [2],
    "indent":                       [2, 2, {"SwitchCase": 1}],
    "linebreak-style":              [2, "unix"],
    "no-mixed-spaces-and-tabs":     [2, "smart-tabs"],
    "no-return-assign":             [2, "always"],
    "no-sequences":                 [2],
    "no-trailing-spaces":           [1],
    "no-undef":                     [2],
    "strict":                       [2, "global"],
    "no-unexpected-multiline":      [1],
    "no-unused-vars":               [1],
    "semi":                         [2, "always"],
    "object-curly-spacing":         [2, "always"],
    "array-bracket-spacing":        [2, "always"],
    "space-before-function-paren":  [2, "always"],
    "no-console":                   1
  }

}
