# App
PORT=1337

# JWT secret
JWT_SECRET=

# Firebase
DB_URL=

# Mail
MAIL_FROM=
MAIL_ACTIVATE=
MAIL_PASSWORD=
MAIL_DOMAIN=
MAIL_KEY=

# Redis
REDIS_HOST=
REDIS_PORT=

# Stripe
STRIPE_API_KEY=
STRIPE_API_VER=

# MYSQL
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DB=

# Session
SESSION_SECRET=
